<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Homepage</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="wrapper">
        <table>
            <% if(mode === "Create"){ %>
                <form action="/dashboard" method="post">
                    <tr>
                        <td align="right">
                            <div>Username : <input id="username" class="username" name="username" type="text" /></div>
                            <div>Password : <input id="password" class="password" name="password" type="text" /></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="btn_create"> Create <input type="submit" value="submit" /></div>
                        </td>
                    </tr>
                </form>
              <% } else{ %>
                <form action="/dashboard" method="patch">
                    <tr>
                        <td align="right">
                            <div>Username : <input name="username" type="text" value="<%=username%>" /></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="btn_create"> Update, ID = <%=id%> <input type="submit" value="submit" onClick="update_user('<%=id%>')"/></div>
                        </td>
                    </tr>
                </form>
             <% } %>
            
        </table>
        <table class="table_admin">
            <tr>
                <td class="border_table">Id</td>
                <td class="border_table">Username</td>
                <td class="border_table" colspan="2">Action</td>
            </tr>
            <% users.forEach(function(user) { %>
                <tr>
                    <td class="border_table">
                        <%= user.id %>
                    </td>
                    <td class="border_table">
                        <%= user.username %>
                    </td>
                    <td class="border_table"><button onClick="update('<%= user.id %>','<%= user.username %>')">Update</button></td>
                    <td class="border_table"><button onClick="del('<%= user.id %>')">Delete</button></td>
                </tr>
                <% }); %>

        </table>
    </div>
    <script>
        const del = (id) => {
            fetch(`/dashboard/` + id, { method: "DELETE" }).then(async (res) => {
                const data = await res.json();
                location.href = "/dashboard";

            });
        }

        const update = (id,username) => {
            location.href = "/dashboard/"+id+"?username="+username;
        }

        const update_user = (id) => {
            fetch(`/dashboard/`+id, { method: "PATCH" }).then(async (res) => {
                const data = await res.json();
                location.href = "/dashboard";

            });
        }
    </script>
</body>

</html>